@import "../Styles/variables";

.navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
    padding: 1rem;
    display: none;
    &_open{
        display: block;
    }
}


.close_container{
    display: flex;
    justify-content: flex-end;
    color: black;
}

.close_button{
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
        color: darken($lightgray, 50);
    }
}

.list{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 1rem;
}

.item_content{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;
}
.heading{
    font-size: 1.4rem;
}
.icon{
    font-size: 1.8rem;
}

@media(min-width:1200px) {
    .navigation{
        display: block;
        position: static;
        width: 20%;
        border: none;
    }

    .close_button{
        display: none;
    }
}