@import "../Styles/variables";
$darkenGray: darken($gray, 0);
.navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 80vw;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    display: none;
    overflow-y: scroll;
    &_open{
        display: block;
    }
    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track{
        background-color:$lightgray;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $darkenGray;
    }
}

.close_container{
    display: flex;
    justify-content: flex-end;
    color: black;
}

.close_button{
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: $gray;
    &:hover{
        color: darken($lightgray, 50);
    }
}

.search_input{
    border: none;
    border-bottom: 1px solid $gray;
    outline: none;
    padding: 0.5rem 1rem;
    padding-left: 0;
    font-size: 1.2rem;
    width: 75%;
    &:focus{
        border-color: $darkenGray;
    }
}

.list{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 1rem;
}


.heading{
    font-size: 1.4rem;
    padding: 0.3rem 0;
    margin: 0.8rem 0;
    color: $gray;
    transition: 0.3s fade-in;
    display: flex;
    align-items: center;
    &_search{
        display: flex;
        cursor: pointer;
        gap: 0.5rem;
    }
    & > a {
        color: $gray;
    }
}

.nav_link{
    display: flex;
    gap: 0.5rem;
    &:hover{
        color: darken($darkenGray, 20);
    }
    &:hover .icon{
        color: darken($darkenGray, 20);
    }
}

.icon{
    font-size: 1.8rem;
    color: $gray;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width:1200px) {
    .navigation{
        display: block;
        position: sticky;
        // position: absolute;
        width: 30%;
        height: 100vh;
        margin-right: 10px;
        // border: none;
    }

    .close_button{
        display: none;
    }
}