@import "../Styles/variables";

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightgray;
}

.heading{
    font-weight: 100;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
}

.logo{
    width: 3rem;
}
.buttons{
    display: flex;
    gap: 0.1rem;
}   
.button{
    cursor: pointer;
    border-radius: 30px;
    padding: 0.3rem 0.6rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.4rem;
    border:1px solid black;
    font-style: italic;
    font-size: 0.6rem;
}
