@import "../Styles/variables";

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightgray;
    // background-color:green;
}

.heading{
    font-weight: 100;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
}


.buttons{
    display: flex;
    gap: 0.1rem;
}   

.button{
    cursor: pointer;
    border-radius: 30px;
    padding: 0.3rem 0.6rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.4rem;
    border:1px solid black;
    font-style: italic;
    font-size: 0.6rem;
}

.logo_bar {
    display: flex;
    align-items: center;
}

.logo{
    width: 5rem;
    display: inline-block;
    margin-top: 0.3rem;
}

.bar{
    display: block;
    font-size: 1.5rem;
}


@media (min-width:760px){
    .buttons{
        gap: 1rem;
    }
    .heading{
        font-size: 2.5rem;
    }
    .logo{
        width: 6rem;
    }
    .button{
        font-size: 0.8rem;
    }
}
@media (min-width:1200px) {
    .bar{
        display: none;
    }
}