@import "../Styles/variables";
.icon{
    font-size: 1.8rem;
    color: $gray;
}

li {
    list-style: none;
}

.item_content {
    display: flex;
    position: relative; /* Needed for the pseudo-element positioning */
    padding: 0.2rem 0;
    border-bottom: 1px solid transparent; /* Default transparent border for spacing */
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $gray;
    gap: 0.5rem;
    &:hover {
        border-bottom: 1px solid $gray;
    }
    
}
.selected {
    border-bottom: 1px solid $gray;
}