@import "../styles/variables";

@media (min-width:280px) {
    .form_wrapper{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .login_testing{
        padding: 2rem;
        margin: 2rem;
        border: 1px solid $lightgray;
        & h6 {
            font-weight: normal;
        }
    }
}

@media (min-width:1200px) {
    .form_wrapper{
        flex-direction: row;
        justify-content:space-around;
    }
    
}