@import "../Styles/variables";

.content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
}

.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    li {
        padding: 1rem;
    }
}

.set_background{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    align-items: center;
    transition: .3s;
    width: 100%;
    &:hover{
        background-color: $lightgray;
        cursor: pointer;
    }
}

.icon{
    font-size: 2rem;
}

.not_found{
    font-size: 2rem;
    color: $gray;
    margin: 2rem;
}

.list{
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    & li h4 a {
        align-items: center;
        
        & svg {
            font-size: 2.5rem;
        }
        & span {
            font-size: 0.8rem;
        }
    }
}

.heading{
    font-size: 2rem;
    color: $gray;
}

.avatar_name{
    margin: 2rem 0;
}

.link{
    color: $gray;
    border-bottom: 1px solid $gray;
}

.user_avatar{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
}

.file_input{
    display: none;
}

@media(min-width:760px){
    .content{
        // padding: 2rem;
    }

    .wrapper{
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        gap: 2rem;
    }

    .avatar_name{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: left;
        width: 100%;
    }

    .profile{
        gap: 3rem;
        justify-content: center;
        width: 350px;
        margin-left: 1rem;
        text-align: left;
    }

    .mail_email{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        color: $gray;
        margin: 0.5rem 0;
    }

    .name{
        border-bottom: 1px solid $gray;
        padding-bottom: 0.2rem;
    }

    .avatar_name{
        margin: 0 auto;
        text-align: left;
        align-self: flex-start;
        margin-right: 350px;
    }

    .list{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        & li h4 a {
            align-items: center;
            & svg {
                font-size: 2rem;
            }
            & span {
                font-size: 1.1rem;
            }
        }
    }

}
@media (min-width:1200px){
    .wrapper{
        width: 100%;
    }
}