@import "../Styles/variables";

.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single_item_wrapper{
    width: 45%;
    margin: 1rem 0;
}

.input{
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    &:focus{
        background-color: $lightgray;
    }
}


.option{
    background-color:$lightgray;
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
}

@media (min-width:760px){
    .single_item_wrapper{
        width: 20%;
    }
}