/* sizes text */
/* small */
.ql-size-small{
    font-size: 12px;
}

.ql-size-normal{
    font-size: 16px;
}

.ql-size-large{
    font-size: 24px;
}

.ql-size-huge{
    font-size: 36px;
}
.text-right{
    text-align: right;
}
.ql-align-right {
    text-align: right;
  }
.ql-align-justify {
    text-align: justify;
  }

  .ql-align-left {
    text-align: left;
  }
  
  .ql-align-center {
    text-align: center;
  }
  